<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      [routerLink]="['/']"
      class="btn btn-link">Main Page</button>
  </div>
  <div class="info">
    <strong>Author here</strong>
    <small>15.10.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi beatae, deleniti doloribus enim eum, impedit itaque molestiae obcaecati odio odit placeat, possimus quae qui reiciendis totam veniam. Accusamus accusantium commodi dolor eius esse et ipsa magnam maxime obcaecati, officiis, possimus, quam saepe similique unde veniam! In iure provident voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi beatae, deleniti doloribus enim eum, impedit itaque molestiae obcaecati odio odit placeat, possimus quae qui reiciendis totam veniam. Accusamus accusantium commodi dolor eius esse et ipsa magnam maxime obcaecati, officiis, possimus, quam saepe similique unde veniam! In iure provident voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi beatae, deleniti doloribus enim eum, impedit itaque molestiae obcaecati odio odit placeat, possimus quae qui reiciendis totam veniam. Accusamus accusantium commodi dolor eius esse et ipsa magnam maxime obcaecati, officiis, possimus, quam saepe similique unde veniam! In iure provident voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi beatae, deleniti doloribus enim eum, impedit itaque molestiae obcaecati odio odit placeat, possimus quae qui reiciendis totam veniam. Accusamus accusantium commodi dolor eius esse et ipsa magnam maxime obcaecati, officiis, possimus, quam saepe similique unde veniam! In iure provident voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi beatae, deleniti doloribus enim eum, impedit itaque molestiae obcaecati odio odit placeat, possimus quae qui reiciendis totam veniam. Accusamus accusantium commodi dolor eius esse et ipsa magnam maxime obcaecati, officiis, possimus, quam saepe similique unde veniam! In iure provident voluptatum.</p>
  </div>
</div>
