<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Log in admin pannel</h2>

  <div class="alert-danger" *ngIf="auth.error$ | async as error">{{error}}</div>

  <div class="alert-info" *ngIf="message">{{message}}</div>
  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control"
  >
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation">
      <small *ngIf="form.get('email').errors.required">Should be fulfilled</small>
      <small *ngIf="form.get('email').errors.email">Email have to contain @ and domain name</small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control">
    <label for="password">password</label>
    <input type="password" id="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation">
      <small *ngIf="form.get('password').errors.required">Should be fulfilled</small>
      <small *ngIf="form.get('password').errors.minlength">Current length is
        {{ form.get('password').errors.minlength.actualLength }}
        but required ' {{ form.get('password')
          .errors.minlength.requiredLength}}</small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Enter
  </button>
</form>
